<p style="color: green"><%= notice %></p>
<div>Recipe</div>
<div id="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <div class="recipe-name"><%= link_to "#{recipe.name}", recipe %></div>
      <div class="recipe-description"><%= recipe.description%></div>
      <%= button_to "Remove", recipe, method: :delete %>
    </div>
  <% end %>
</div>



