<%= render "form", recipe: @recipe %>

<br>

<div class="w-full  flex flex-col justify-center text-center">
  <div class="w-1/2 mx-auto">
  <%= link_to "Back to recipes", recipes_path %>
  </div>
</div>
