<section class="flex flex-col text-center w-full mb-12">
  <p style="color: green"><%= notice %></p>

  <h1 class="text-2xl">Users</h1>

  <div id="users">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </div>
</section>