<p style="color: green"><%= notice %></p>
<%= link_to "Add food", new_food_path %>
<table class="table">
  <thead>
    <tr>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Action</th>
    </tr>
</thead>
</table>
<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
  <% end %>
</div>